.cb-slideshow, .cb-slideshow:after {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.cb-slideshow li span {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
	opacity: 0;
	z-index: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 36s linear infinite 0s;
	-moz-animation: imageAnimation 36s linear infinite 0s;
	-o-animation: imageAnimation 36s linear infinite 0s;
	-ms-animation: imageAnimation 36s linear infinite 0s;
	animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
	z-index: 1000;
	position: absolute;
	bottom: 30px;
	left: 0px;
	width: 100%;
	text-align: center;
	opacity: 0;
	color: #fff;
	-webkit-animation: titleAnimation 36s linear infinite 0s;
	-moz-animation: titleAnimation 36s linear infinite 0s;
	-o-animation: titleAnimation 36s linear infinite 0s;
	-ms-animation: titleAnimation 36s linear infinite 0s;
	animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 240px;
	padding: 0;
	line-height: 200px;
}


/*-----------------------------------------
	Slid Show image part
-----------------------------------------*/ 
.cb-slideshow li:nth-child(1) span {
	 background-image: url(../images/1.jpg)
}
.cb-slideshow li:nth-child(2) span {
	 background-image: url(../images/2.jpg);
	 -webkit-animation-delay: 15s;
	 -moz-animation-delay: 15s;
	 -o-animation-delay: 15s;
	 -ms-animation-delay: 15s;
	 animation-delay: 15s;
}
.cb-slideshow li:nth-child(3) span {
	 background-image: url(../images/3.jpg);
	 -webkit-animation-delay: 30s;
	 -moz-animation-delay: 30s;
	 -o-animation-delay: 30s;
	 -ms-animation-delay: 30s;
	 animation-delay: 30s;
}




/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
 0% {
opacity: 0;
 -webkit-animation-timing-function: ease-in;
}
 8% {
opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 42% {
opacity: 1
}
 50% {
opacity: 0
}
 100% {
opacity: 0
}
}
@-moz-keyframes imageAnimation {
 0% {
opacity: 0;
 -moz-animation-timing-function: ease-in;
}
 8% {
opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 42% {
opacity: 1
}
 50% {
opacity: 0
}
 100% {
opacity: 0
}
}
@-o-keyframes imageAnimation {
 0% {
opacity: 0;
 -o-animation-timing-function: ease-in;
}
8% {
opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 42% {
opacity: 1
}
 50% {
opacity: 0
}
 100% {
opacity: 0
}
}
@-ms-keyframes imageAnimation {
 0% {
opacity: 0;
 -ms-animation-timing-function: ease-in;
}
8% {
opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 42% {
opacity: 1
}
 50% {
opacity: 0
}
 100% {
opacity: 0
}
}
@keyframes imageAnimation {
 0% {
opacity: 0;
 animation-timing-function: ease-in;
}
8% {
opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 42% {
opacity: 1
}
 50% {
opacity: 0
}
 100% {
opacity: 0
}
}

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}
 @media screen and (max-width: 1140px) {
 .cb-slideshow li div h3 {
font-size: 140px
}
}
@media screen and (max-width: 600px) {
 .cb-slideshow li div h3 {
font-size: 80px
}
}