
/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  padding: 0px;
  margin: 0px;
}

body{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}
/*header*/
header{
	background-image: url(../img/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 50%;
	
}

.cabecera{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .7);
	z-index: 30;
	position: relative;
}

/*INICIO MARCO HEADER*/
.titulos{
	width: auto;
	margin: 250px 150px 200px 150px;
	border: 1px solid #fff;
	/*transform:skew(15deg);*/
	/*animation: ejemplo 3s 1 0.2s;*/
}
/*FIN MARCO HEADER*/

/*.titulos:hover{
	animation: ejemplo 3s 1 0.2s;
}

@keyframes ejemplo{
	0%{
		transform: scale(0.5);
	}

	50%{
		transform: scale(1.5);
	}


}*/

/*INICIO NAV*/

/*#myNavbar ul li a{

	color: white;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	text-transform: uppercase;
	display: inline-block;

}

/*#myNavbar ul{
	margin: 0 auto;
	line-height: 2;
	text-align: center;
}*/

/*.navbar-nav{
	margin: 0 auto;
	text-align: center;
	float: none;
}*/

/*.collapse ul li a:hover{

	background-color: black;


}*/

/*.navbar-nav{
	margin: 7.5px 15px;
}



.navbar{
	margin-bottom: 0;
}

@media screen and (max-width: 480px){

	#myNavbar ul{
		margin-left: 0px;
	}
}*/




.isStuck{
    left:0px;
    width:100%;
}
.menu{
	 margin-top:0px;
	 position: static;
	 left:0px;
	 right:0px;
}

.navwrapper .container{
	padding:0;
	width:auto;
}

.navbar-header{
	display:none;
}
.nav > li > a{
	display:inline-block;
}
.navbar-nav > li{
	float: none;
	display: inline;
}
.navbar-nav{
	margin: 0 auto;
	text-align: center;
	float: none;
}

.navbar-toggle{
	margin-top:14px;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  margin-top:0px;
  position: relative;
  z-index: 15;
  background:#262b37;
}
.navbar-wrapper .container{
	padding:0px;
}

.navbar-collapse{
	padding:0;
}
.navbar-collapse.in{
	max-height:100%;
}

.navbar.navbar-inverse.navbar-static-top {
  margin:0px auto;
  background:#262b37;
  color:#c3c8d6;
  border:none;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  text-transform:uppercase;
}
.navbar.navbar-inverse.navbar-static-top a{
  color:#c3c8d6;
  padding:22px 25px;
  line-height:18px;
  text-align:center;
}
.navbar.navbar-inverse.navbar-static-top a:hover{
  color:#fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
  background:#1b1f29;
  color:#c3c8d6;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  background:#1b1f29;
  color:#fff;
}

.hideClass{
	display:none;
}

/*FIN NAV*/


/* efectos fotograficos
.blur{
	width: 300px;
	height: 300px;
	padding: 30px;
}

.brillo{
	width: 300px;
	height: 300px;
	padding: 30px;
}

figure .blur{
	-webkit-filter: blur(1px) grayscale(80%);
}


figure .brillo{
	/*-webkit-filter: blur(1px);*/
	/*-webkit-filter: sepia(80%);*/
/*}*/

/*INICIO HEADER*/
header div .titulo-cabecera{
	text-align: center;
	font-size: 80px;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #fff;
	line-height: 71px;
	text-shadow: 1px 1px 0px #585858,
				 2px 2px 0px #585858,
				 3px 3px 0px #585858,
				 4px 4px 0px #585858,
				 5px 5px 0px #585858,
				 6px 6px 0px black;
}

header div .subtitulo-cabecera{
	text-align: center;
	font-size: 50px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	line-height: 70px;
	text-shadow: 1px 1px 0px #585858,
				 2px 2px 0px #585858,
				 3px 3px 0px #585858,
				 4px 4px 0px #585858,
				 5px 5px 0px #585858,
				 6px 6px 0px black;

}

@media screen and (max-width: 480px){
	
	.titulo-cabecera{
		font-size: 12px;
		line-height: 50px;
	}
	.subtitulo-cabecera{
		font-size: 15px;
		line-height: 50px;
	}

	.titulos{
		margin: auto;
	}
}

/*FIN HEADER*/

/*INICIO RESUMEN*/
body .resumen{
	width: 100%;
	height: 100%;
	background-color: #00bdbd;
	
}
.resumen div h1{
	color: white;
	text-align: center;
	padding-top: 50px;
	font-size: 36px;
	line-height: 38px;
	font-weight: 300px;
	text-transform: uppercase;

}

.resumen div .sub-titulo{
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 30px;
	margin: 0px;
}

.resumen div h2{
	color: white;
	text-align: left;
	font-size: 26px;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
	padding-bottom: 18px;
	font-weight: 400;
	margin: 0px;
}

.resumen div h3{
	color: white;
	text-align: left;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
	padding-bottom: 30px;
	font-weight: 600;
	margin: 0px;
}

.resumen .container .row p{
	color: white;
}

.btnDownload{
	width: 170px;
	height: 50px;
	color: white;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding: 16px 22px;
	display: inline-block;
	border-radius: 30px;
	font-style: none;
	margin-top: 40px;
}

/*.btnDownload:hover{
	background-color: rgba(0,0,0, .9);
	color: white;
	text-decoration: none;
}*/

.topmar{
	margin-top: 20px;
}

.img-circle{
	border-radius: 50%;
	-webkit-filter: grayscale(80%);
}

img{
	vertical-align: middle;
	border: 0px;
	width: auto;
	height: 300px;
	margin-bottom: 30px;



}

.container{
	margin-bottom: 80px;
}

/*FIN RESUMEN*/

/*INICIO HABILIDADES TECNICAS*/
.habilidades{
	background: #eeeeee;
}

.habilidades .heading{
	color: #ff675f;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 80px;
	font-size: 36px;
	line-height: 38px;
	font-weight: 300px;
	text-transform: uppercase;
	margin: 0px;
}

.habilidades p{
	color: #474d5d;
	font-style: 'Open Sans', sans-serif;;
	font-size: 14px;

}


svg{
	width:50%;

}

.circle{
	padding: 30px;
}

/*FIN HABILIDADES TECNICAS*/

/*INICIO EXPERIENCIA LABORAL*/

.experiencia .container .heading{
	color: #ff675f;
	text-align: center;
	font-size: 36px;
	line-height: 38px;
	font-weight: 300px;
	padding: 40px 0px 80px 0px;
}

.experiencia .container .row .circle{
	width: 140px;
	height: 140px;
	border-radius: 100%;
	background: #ff675f;
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 40px 0px 40px 0px;

}

.experiencia .container .row .bordeleft{
	border-left: solid 1px #eaeaea;
	padding-bottom: 47px;
	margin-left: 10px;
}


.experiencia .container .row .bordeleft .contenido{
	width: auto;
	background: #f3f3f3;
	border-bottom: solid 4px #eeeeee;float: right;
	padding: 22px 47px 6px 47px;
	margin-left: 15px;
	text-align: left;	
}

.experiencia .container .row .bordeleft .contenido .btn{
	text-align: center;
	padding: 10px;
	float: right;

}
/*Diseño responsive*/
/*@media screen and (max-width: 767px){
	.experiencia .container .row .bordeleft .arrowleft{
		float: none;
		width: 100%;
		height: 40px;
		background: url(../img/arrow-top.png) no-repeat 0 23px;
		margin-left: 30px;
	}
}

@media screen and (max-width: 767px){
	.experiencia .container .row .bordeleft .contenido{
		width: auto;
		background: #f3f3f3;
		border-bottom: solid 4px #eeeeee;
		padding: 22px 47px 6px 47px;
		margin-left: 15px;
		text-align: left;
	}

	*{
		padding: 0px;
		margin: 0px;
	}
	
}*/